@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.loosing-screen {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, rgba(255, 86, 129, 0.7), rgba(150, 20, 85, 0.7)), url("https://www.holidify.com/images/cmsuploads/compressed/nepal1_20190607190404.jpg") no-repeat fixed;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  width: 100vw;
}

.loosing-screen-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: "Roboto", sans-serif;
  color: white;
}

.loosing-screen-content > * {
  cursor: pointer;
}

.scoreboard {
  margin: 20px;
  font-size: 1.3em;
  text-align: center;
}

.restart-button {
  margin: auto;
}
